<% content_for :top_content do %>
  <div class="jumbotron">
    <div class="container">
      <h1>Welcome!</h1>
      <p>Register to get started.</p>
      
      <p>
      <%= link_to "your label", @authorize_url.to_s, :target => "_blank" ,class: 'btn btn-primary btn-lg'%>
     
      </p>
    </div>
  </div>
<% end %>